In [1]:
import pandas as pd
import numpy as np
from catboost import CatBoostClassifier
import seaborn as sns
import random

In [2]:
test_df = pd.read_csv("test.csv")

C:\anaconda\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
del test_df["oper_type + oper_attr"]
del test_df['mailrank']
del test_df['name_mfi']

In [4]:
test_df['index_oper'] = test_df['index_oper'].apply(lambda x: str(x))
test_df['priority'] = test_df['priority'].apply(lambda x: str(x))
test_df['class'] = test_df['class'].apply(lambda x: str(x))
test_df['mailtype'] = test_df['mailtype'].apply(lambda x: str(x))
test_df['mailctg'] = test_df['mailctg'].apply(lambda x: str(x))
test_df['directctg'] = test_df['directctg'].apply(lambda x: str(x))
test_df['postmark'] = test_df['postmark'].apply(lambda x: str(x))
test_df['is_wrong_sndr_name'] = test_df['is_wrong_sndr_name'].apply(lambda x: str(x))
test_df['is_wrong_rcpn_name'] = test_df['is_wrong_rcpn_name'].apply(lambda x: str(x))
test_df['is_wrong_phone_number'] = test_df['is_wrong_phone_number'].apply(lambda x: str(x))
test_df['is_wrong_address'] = test_df['is_wrong_address'].apply(lambda x: str(x))

In [5]:
features = ["weight", "transport_pay", "weight_mfi", "price_mfi", 
              "total_qty_over_index", "total_qty_over_index_and_type", "total_qty_oper_login_0",
           "total_qty_oper_login_1", "dist_qty_oper_login_1"]

In [6]:
df = pd.read_csv("train.csv")

In [7]:
df['index_oper'] = df['index_oper'].apply(lambda x: str(x))
df['priority'] = df['priority'].apply(lambda x: str(x))
df['class'] = df['class'].apply(lambda x: str(x))
df['mailtype'] = df['mailtype'].apply(lambda x: str(x))
df['mailctg'] = df['mailctg'].apply(lambda x: str(x))
df['directctg'] = df['directctg'].apply(lambda x: str(x))
df['postmark'] = df['postmark'].apply(lambda x: str(x))
df['is_wrong_sndr_name'] = df['is_wrong_sndr_name'].apply(lambda x: str(x))
df['is_wrong_rcpn_name'] = df['is_wrong_rcpn_name'].apply(lambda x: str(x))
df['is_wrong_phone_number'] = df['is_wrong_phone_number'].apply(lambda x: str(x))
df['is_wrong_address'] = df['is_wrong_address'].apply(lambda x: str(x))
df['label'] = df['label'].apply(lambda x: str(x))

In [8]:
del df["oper_type + oper_attr"]
del df['mailrank']
del df['id']

In [9]:
del df['name_mfi']

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(df[features].to_numpy())
k = 0
for i in features:
    df[i] = X[:,k]
    k+=1

In [11]:
X = ""

In [12]:
features.append("label")
category = []
for i in df.columns:
    if i not in features: category.append(i)

In [13]:
#category.pop(category.index("name_mfi"))

In [14]:
from category_encoders.binary import BinaryEncoder
d = pd.DataFrame()
ct = []
binens = []
for i in category:
    if i != "name_mfi":
        print(i)
        bn = BinaryEncoder()
        bn.fit(df[i].values)
        binens.append(bn)
        k = bn.transform(df[i].values)
        l  = []
        for j in k.columns:
            l.append(str(i)+str(j))
        ct.extend(l)
        k.columns = l
        d = pd.concat([d, k], axis=1)

index_oper
type
priority
is_privatecategory
class
is_in_yandex
is_return
mailtype
mailctg
directctg
postmark
is_wrong_sndr_name
is_wrong_rcpn_name
is_wrong_phone_number
is_wrong_address

In [15]:
del df

In [16]:
features = ["weight", "transport_pay", "weight_mfi", "price_mfi", 
              "total_qty_over_index", "total_qty_over_index_and_type", "total_qty_oper_login_0",
           "total_qty_oper_login_1", "dist_qty_oper_login_1"]

In [17]:
features

['weight',
 'transport_pay',
 'weight_mfi',
 'price_mfi',
 'total_qty_over_index',
 'total_qty_over_index_and_type',
 'total_qty_oper_login_0',
 'total_qty_oper_login_1',
 'dist_qty_oper_login_1']

In [18]:
category = []
for i in test_df.columns:
    if i not in features: category.append(i)

In [19]:
#test_features = features.copy()[:len(features)-1]
test_features = features.copy()

In [20]:
test_features

['weight',
 'transport_pay',
 'weight_mfi',
 'price_mfi',
 'total_qty_over_index',
 'total_qty_over_index_and_type',
 'total_qty_oper_login_0',
 'total_qty_oper_login_1',
 'dist_qty_oper_login_1']

In [21]:
category

['id',
 'index_oper',
 'type',
 'priority',
 'is_privatecategory',
 'class',
 'is_in_yandex',
 'is_return',
 'mailtype',
 'mailctg',
 'directctg',
 'postmark',
 'is_wrong_sndr_name',
 'is_wrong_rcpn_name',
 'is_wrong_phone_number',
 'is_wrong_address']

In [22]:
category = category[1:]

In [23]:
category

['index_oper',
 'type',
 'priority',
 'is_privatecategory',
 'class',
 'is_in_yandex',
 'is_return',
 'mailtype',
 'mailctg',
 'directctg',
 'postmark',
 'is_wrong_sndr_name',
 'is_wrong_rcpn_name',
 'is_wrong_phone_number',
 'is_wrong_address']

In [24]:
test_df.head()

,id,index_oper,type,priority,is_privatecategory,class,is_in_yandex,is_return,weight,mailtype,...,price_mfi,dist_qty_oper_login_1,total_qty_oper_login_1,total_qty_oper_login_0,total_qty_over_index_and_type,total_qty_over_index,is_wrong_sndr_name,is_wrong_rcpn_name,is_wrong_phone_number,is_wrong_address
0,7815282,102976.0,ММПО,7503.0,N,0.0,N,N,85.0,5.0,...,489.0,972.0,68766046.0,91123247.0,159889293.0,164927295.0,0,0,0,0
1,8443555,238753.0,ГОПС,7503.0,N,4.0,Y,N,21.0,5.0,...,186.0,2.0,2895.0,1545.0,4440.0,20623.0,0,1,1,0
2,6352559,618254.0,ГОПС,7503.0,N,4.0,Y,N,388.0,5.0,...,500.0,3.0,2751.0,993.0,3744.0,37817.0,0,0,0,0
3,4921420,102968.0,ТИ,7503.0,N,0.0,N,N,1203.0,5.0,...,0.0,69.0,9379609.0,2267333.0,11646942.0,11759329.0,0,1,0,0
4,1420440,102971.0,Цех,7506.0,N,0.0,N,N,956.0,5.0,...,1267.0,181.0,76138189.0,8747.0,76146936.0,84110459.0,0,1,0,0

In [25]:
X = scaler.transform(test_df[test_features].to_numpy())
k = 0
for i in test_features:
    test_df[i] = X[:,k]
    k+=1

In [26]:
test_df.head()

,id,index_oper,type,priority,is_privatecategory,class,is_in_yandex,is_return,weight,mailtype,...,price_mfi,dist_qty_oper_login_1,total_qty_oper_login_1,total_qty_oper_login_0,total_qty_over_index_and_type,total_qty_over_index,is_wrong_sndr_name,is_wrong_rcpn_name,is_wrong_phone_number,is_wrong_address
0,7815282,102976.0,ММПО,7503.0,N,0.0,N,N,0.000538,5.0,...,0.003062,0.851138,0.485331,0.219226,0.326479,0.329689,0,0,0,0
1,8443555,238753.0,ГОПС,7503.0,N,4.0,Y,N,0.000133,5.0,...,0.001165,0.001751,0.000020,0.000004,0.000009,0.000041,0,1,1,0
2,6352559,618254.0,ГОПС,7503.0,N,4.0,Y,N,0.002456,5.0,...,0.003131,0.002627,0.000019,0.000002,0.000008,0.000076,0,0,0,0
3,4921420,102968.0,ТИ,7503.0,N,0.0,N,N,0.007614,5.0,...,0.000000,0.060420,0.066199,0.005455,0.023782,0.023507,0,1,0,0
4,1420440,102971.0,Цех,7506.0,N,0.0,N,N,0.006051,5.0,...,0.007933,0.158494,0.537362,0.000021,0.155485,0.168136,0,1,0,0

In [27]:
del X

In [28]:
from category_encoders.binary import BinaryEncoder
d = pd.DataFrame()
ct = []
#binens = []

for i in range(0, len(category)):
    print(category[i])
    if i != "name_mfi":
        k = binens[i].transform(test_df[category[i]].values)
        l  = []
        for j in k.columns:
            l.append(str(category[i])+str(j))
        ct.extend(l)
        k.columns = l
        d = pd.concat([d, k], axis=1)

index_oper
type
priority
is_privatecategory
class
is_in_yandex
is_return
mailtype
mailctg
directctg
postmark
is_wrong_sndr_name
is_wrong_rcpn_name
is_wrong_phone_number
is_wrong_address

In [29]:
test_df.head()

,id,index_oper,type,priority,is_privatecategory,class,is_in_yandex,is_return,weight,mailtype,...,price_mfi,dist_qty_oper_login_1,total_qty_oper_login_1,total_qty_oper_login_0,total_qty_over_index_and_type,total_qty_over_index,is_wrong_sndr_name,is_wrong_rcpn_name,is_wrong_phone_number,is_wrong_address
0,7815282,102976.0,ММПО,7503.0,N,0.0,N,N,0.000538,5.0,...,0.003062,0.851138,0.485331,0.219226,0.326479,0.329689,0,0,0,0
1,8443555,238753.0,ГОПС,7503.0,N,4.0,Y,N,0.000133,5.0,...,0.001165,0.001751,0.000020,0.000004,0.000009,0.000041,0,1,1,0
2,6352559,618254.0,ГОПС,7503.0,N,4.0,Y,N,0.002456,5.0,...,0.003131,0.002627,0.000019,0.000002,0.000008,0.000076,0,0,0,0
3,4921420,102968.0,ТИ,7503.0,N,0.0,N,N,0.007614,5.0,...,0.000000,0.060420,0.066199,0.005455,0.023782,0.023507,0,1,0,0
4,1420440,102971.0,Цех,7506.0,N,0.0,N,N,0.006051,5.0,...,0.007933,0.158494,0.537362,0.000021,0.155485,0.168136,0,1,0,0

In [30]:
test_features.append("id")

In [31]:
test_df = test_df[test_features]

In [32]:
test_df = pd.concat([test_df, d], axis=1)

In [33]:
test_df.shape

(4000000, 63)

In [34]:
test_df.head()

,weight,transport_pay,weight_mfi,price_mfi,total_qty_over_index,total_qty_over_index_and_type,total_qty_oper_login_0,total_qty_oper_login_1,dist_qty_oper_login_1,id,...,postmark0_1,postmark0_2,is_wrong_sndr_name0_0,is_wrong_sndr_name0_1,is_wrong_rcpn_name0_0,is_wrong_rcpn_name0_1,is_wrong_phone_number0_0,is_wrong_phone_number0_1,is_wrong_address0_0,is_wrong_address0_1
0,0.000538,0.000000,0.004056,0.003062,0.329689,0.326479,0.219226,0.485331,0.851138,7815282,...,0,1,0,1,0,1,0,1,0,1
1,0.000133,0.000000,0.001056,0.001165,0.000041,0.000009,0.000004,0.000020,0.001751,8443555,...,0,1,0,1,1,0,1,0,0,1
2,0.002456,0.040951,0.019333,0.003131,0.000076,0.000008,0.000002,0.000019,0.002627,6352559,...,0,1,0,1,0,1,0,1,0,1
3,0.007614,0.100807,0.000000,0.000000,0.023507,0.023782,0.005455,0.066199,0.060420,4921420,...,0,1,0,1,1,0,0,1,0,1
4,0.006051,0.018001,0.052556,0.007933,0.168136,0.155485,0.000021,0.537362,0.158494,1420440,...,0,1,0,1,1,0,0,1,0,1

In [35]:
X = test_df.copy()

In [36]:
del X['id']

In [37]:
catmodel = CatBoostClassifier()
catmodel.load_model("11", format='cbm')

In [38]:
test_df['label'] = catmodel.predict(X)

In [39]:
result = test_df[['id', 'label']]

In [40]:
result.loc[result['label']=='1'].shape[0]

801837

In [41]:
result.loc[result['label']=='1'].shape[0]/result.shape[0]

0.20045925

In [42]:
result.head()

        id label
0  7815282     1
1  8443555     1
2  6352559     1
3  4921420     0
4  1420440     0

In [43]:
result.to_csv("ressub.csv", sep=",", index=False, line_terminator='\n')